* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}

body {
    font-family:Arial, Helvetica, sans-serif
}

/* Mobile first */
.flex-space-between  {

    .flex-menu {
        padding: 1rem;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;

    }

    #search-bar {
        padding: 1rem;

        input {
        width: 250px;
        height: 35px;
        padding: 0.5rem;
        background-color: white;
        border-width: 1px;
        border-style: solid;
        border-color: black;
        }

        button {
        height: 35px;
        width: 40px;
        background-color: white;
        border-width: 1px;
        border-style: solid;
        border-color: black;
        }
    }


    #main-logo {
        border-radius: 100px;  
        width: 110px;
    }

    a {
        text-decoration: none;
        color: black
    }
}

footer {
    border-top: rgba(0, 0, 0, 0.329);
    border-top-width: 1px;
    border-top-style: solid;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    margin: 20px;
    
    h5, h4{
        font-size: 18px;
        font-weight: 100;
    }

    #footer-logo {
        width: 120px;
        border-radius: 100px;
    }

    #contact-info li span {
        font-weight: bold;
    }
    
    #social-media {
        li {
            padding: 0.5rem 0;
            font-size: 24px;
        }
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    
    a {
        color: black;
        text-decoration: none;
    }
}
        
/* index.html */
#banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: right;
    background-color: #ccc;
    gap: 2rem;
    padding: 1.5rem;
    margin: 20px;

    a {
        text-decoration: none;
        color: black;
        background-color: white;
        font-weight: bold;
        padding: 1rem;
    }
}


.products {
    padding: 2rem;

    div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        justify-content: center;
        gap: 1rem;
        padding: 1rem 0 2rem;
    }

    p {
        grid-column: 1/4;
        grid-row: 2/3;
    }

    a {
        text-decoration: none;
        color: black;
    }

    #new-product {
        grid-column: 1/2;
        grid-row: 3/4;
        padding: 1rem;
        border-style: solid;
        border-width: 1px;
        border-color: rgb(148, 135, 135);
    }

    #special-price {
        grid-column: 2/3;
        grid-row: 3/4;
        padding: 1rem;
        border-style: solid;
        border-width: 1px;
        border-color: rgb(148, 135, 135);
    }

    #best-sellers {
        grid-column: 3/4;
        grid-row: 3/4;
        display: flex;
        padding: 1rem;
        border-style: solid;
        border-width: 1px;
        border-color: rgb(148, 135, 135);
    }

    .product-card  {

        padding-top: 1rem;

        img {
            width: 100%;
        }

        h3{
            padding-top: 1rem;
        }

        p {
            padding-top: 1rem;
        }
    }
}

#categories {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;

    article {
        border-style: solid;
        border-color: black;
        border-width: 1px;
        min-height: 250px;
        margin: 10px;
        color: white;

        display: flex;
        justify-content: center;
        align-items: center;
    }
         #category1 {
            max-width: 100%;
            background-image: url(bilder/oranges.jpg)
        }  

        #category2 {
            max-width: 100%;
            background-image: url(bilder/raspberries.jpg);
            }   

        #category3 {
            max-width: 100%;
            background-image: url(bilder/blueberries.jpg)
            } 
        
        #category4 {
            max-width: 100%;
            background-image: url(bilder/apples.jpg)
        }

        #category5 {
            max-width: 100%;
            background-image: url(bilder/banana.jpg)
        }
    }


.reviews {
    display: flex;
    flex-wrap:wrap;
    justify-content: left;
    padding: 2rem;
    gap: 1rem;

    h3 {
        font-size: 24px;
    }

    article {
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.110);
    border-width: 1px;
    padding: 1rem;

        img {
            max-width: 150px;
        }

        .username {
            font-weight: bold;
            padding: 1rem 0 1rem;
        }

        p {
            font-weight: 500;
            padding: 0 0 1rem;
        }
    }
}

/* Checkout.html */
#user-cart {
    margin: 10px;

    h1 {
        font-size: 36px;
    }
    h2 {
        padding: 1rem;
        font-weight: bold;
        font-size: 28px;
    }
    article {
        img {
            max-width: 100%;
        }
    }
}

#user-info {
    margin: 20px;

    h2 {
        padding: 2rem 0 2rem;
        font-weight: bold;
        font-size: 30px;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        input {
            padding: 1rem;
            width: 400px;
            height: 50px;
        }

        a {
            color:blue;
            padding: 0.5rem;
        }
    }
    
    #saveButton {
        width: 70px;
        height: 50px;
        background-color: rgb(83, 80, 80);
        color: white;
        border-radius: 0;
    }
}

#user-delivery {
    margin: 20px;

    form {
        display: flex;
        flex-direction: column;

        p {
            font-weight: bold;
            font-size: 20px;
        }

        label {
            font-weight: bold;
            padding: 1rem;
        }
    }

    h2{
        padding: 1rem 0 1rem;
        font-weight: bold;
        font-size: 30px;
    }

}

#user-pay {
    margin: 20px;
    padding: 0 0 5rem;
    
    h2 {
        padding: 1rem 0 1rem;
    }

    form {

        #pay-with-card {
            font-weight: bold;
        }

        input {
            padding: 1rem;
            width: 400px;
        }
        #totalsum {
            padding: 1.5rem 0 1rem;
        }

        #purchaseButton {
            padding: 0rem;
            width: 90px;
            height: 50px;
            background-color: rgb(83, 80, 80);
            color: white;
            border-radius: 0;
        }
    }

    label#newsletter {
        padding: 1rem 0 0;
        gap: 0.5rem;
        display: flex;
    }

    label#offers-and-news {
        display: flex;
        gap: 0.5rem;
    }
}

/* Products.html */
#breadcrumbs {
    margin: 20px;
    font-size: 18px;

    a {
        font-weight: 100;
        text-decoration: none;
        color: black;
    }

    #current-site {
        font-weight: bold;
    }
}

#product-on-display {
    h1 {
        padding: 1rem;
        font-size: 26px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    #brand {
        font-size: 18px;
        font-weight: 100;
        text-decoration: underline;
        padding: 1rem;
    }

    img {
    width: 100%;
    padding: 1rem;
    }

    p {
        padding: 1rem;

        #color-on-product {
            font-weight: bold;
        }
    }
}

#sim-prod {
    padding: 2rem;

    h2 {
        font-size: 28px;
        padding: 1rem;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .product-display {
        padding: 1rem;

        img {
            width: 100%;
            padding: 0 0 1rem;
        }
        p {
            padding: 1rem 0 0;
        }
    }
}

@media screen and (min-width:800px) {
* {
    max-width: 1200px;
    margin: 0px;
    padding: 0;
}
    #grid-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: repeat(3, auto);
    }
    
    #global-header {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }

    .flex-space-between {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;

        .flex-menu {
            flex-direction: row;
            align-items: center;

            grid-row: 1/2;
            grid-column: 2/3;
        }
        #search-bar {

        }
    }

    .product-card {
        max-width: 350px;
        margin: 1rem;
    }

    #categories {

        #grid-categories {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, auto);
        color: white;
        text-transform: uppercase;

            article {
                margin: 1px;
                border: none;
            }

            #category1 {
            max-width: 386px;
            grid-row: 1/2;
            grid-column: 1/2;
            background-image: url(bilder/oranges.jpg)
            }  

            #category2 {
                max-width: 386px;
                grid-row: 1/2;
                grid-column: 2/3;
                background-image: url(bilder/raspberries.jpg);
                }   

            #category3 {
                max-width: 386px;
                grid-row: 1/2;
                grid-column: 3/4;
                background-image: url(bilder/blueberries.jpg)
                } 
            
            #category4 {
                max-width: 864px;
                grid-row: 2/3;
                grid-column: 1/3;
                background-image: url(bilder/apples.jpg)
            }

            #category5 {
                max-width: 300px;
                grid-row: 2/3;
                background-image: url(bilder/banana.jpg)
            }
        }
    }

    
    main {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    
    footer {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
}
